body {
  background-color: black;
}
video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
text {
  font-family: 'Arial', 'sans-serif';
  fill: #fff;
  font-weight: bold;
}
.back {
  fill: #000;
}
.mask [fill="black"] {
  height: 8px;
}
.svg-mobile-wrapper {
  display: none;
}
@media screen and (max-width: 768px) {
  .svg-wrapper {
    display: none;
  }
  .svg-mobile-wrapper {
    display: block;
    text {
      font-size: 22px;
    }
  }
  .mask [fill="black"] {
    height: 13px;
  }
}
